include ./mixins.pug

<!DOCTYPE html>
html(lang="RU_ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        
          .parallax
            .parallax__layer(data-speed="0.8")
              +image('content/layer-1.png', 'layer__img')
            .parallax__layer(data-speed="0.5")
              +image('content/layer-2.png', 'layer__img')
            .parallax__layer(data-speed="0.3")
              +image('content/layer-3.png', 'layer__img')
            .parallax__layer(data-speed="0.5")
              +image('content/layer-4.png', 'layer__img')
            .parallax__layer(data-speed="0.3")
              +image('content/layer-5.png', 'layer__img')
            .parallax__layer(data-speed="0.2")
              +image('content/layer-6.png', 'layer__img')
            .parallax__layer(data-speed="0.1")
              +image('content/layer-7.png', 'layer__img')

          section.hero
            
            .container.hero__container
              header.header.hero__header
                .hero__logo
                  .logo ОA
                
                .hero__links 
                  nav.nav
                    - var menu = ['Главная', "Обо мне", "Навыки", "Работы","Отзывы","Связаться"]
                    ul.nav__list
                      each item in menu
                        li.nav__item
                          a(href="").nav__link #{item}

                .hero__menu
                  - var icons = ['insta', 'vk', 'github']
                  ul.socials
                    each item, index in icons
                      li.socials__item(class=`${index === 1 ? 'active' : ''}`)
                        a(href="").socials__link
                          +icon(`${item}`, 'socials__icon')

              .hero__content
                .user-info
                  .user-info__title
                    h3.user-info__desc Личный сайт 
                    h3.user-info__desc вэб разработчика
                  .user-info__title-name
                    h1.user-info__username Аркадий 
                    h1.user-info__username Остапенко

              .hero__btns
                .scroll-down-btns Скроллить
                .scroll <svg height="15pt" viewBox="-90 0 512 512" width="15pt" xmlns="http://www.w3.org/2000/svg"><path d="m166.238281 430.144531-89.769531-94.898437 29.058594-27.488282 60.632812 64.097657 60.273438-64.058594 29.132812 27.410156zm165.761719-38.144531v-272c0-66.167969-53.832031-120-120-120h-92c-66.167969 0-120 53.832031-120 120v272c0 66.167969 53.832031 120 120 120h92c66.167969 0 120-53.832031 120-120zm-120-352c44.113281 0 80 35.886719 80 80v272c0 44.113281-35.886719 80-80 80h-92c-44.113281 0-80-35.886719-80-80v-272c0-44.113281 35.886719-80 80-80zm-46 41c-11.046875 0-20 8.953125-20 20s8.953125 20 20 20 20-8.953125 20-20-8.953125-20-20-20zm0 80c-11.046875 0-20 8.953125-20 20s8.953125 20 20 20 20-8.953125 20-20-8.953125-20-20-20zm0 80c-11.046875 0-20 8.953125-20 20s8.953125 20 20 20 20-8.953125 20-20-8.953125-20-20-20zm0 0"/></svg>
            
          section.about
            .container.about__container
              .about__left
                .user
                  .avatar.user__avatar
                    +image("content/arkadiy.png", "avatar__pic")
                  ul.user__desc
                    - 
                      var items = [
                        ['Проживаю', 'Уфа'],
                        ['Возраст', '38 лет'],
                        ['Родился', '24 мая 1981'],
                      ]
                    each item in items
                      li.user__desc-item
                        .user__key #{item[0]}
                        .user__value #{item[1]}
              .about__right
                h4.about__prolog Привет, меня зовут
                h2.about__title Аркадий Остапенко
                .about__text Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные продукты.
                .about__ps Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежув нём контент. А пока посмотрите, как тут все классно и красиво!

            .triangles
              svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
                polygon(points="0,0 0,100 1000,100")
              svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
                polygon(points="0,100 1000,100 1000,0")
            .triangle__down

          section.values
            .container.container__values
              +image("content/bagage.png", "bagage__pic")
              .values__title
                h1.section-title.values__title-text Чем я могу быть полезен Вам
                .values__desc
                  p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежув нём контент. А пока посмотрите, как тут все классно и красиво!
                .values__widget
                  #skills-component
                        
          section.works
            h2.section-title Мои работы
            .work__content
              #slider-components
          
          section.aboutme
            .triangles__block
              svg.triangles__item-left(viewBox="0 0 1000 100" preserveAspectRatio="none")
                polygon(points="0,100 1000,100 1000,0")
              svg.triangles__item-right(viewBox="0 0 1000 100" preserveAspectRatio="none")
                polygon(points="0,0 0,100 1000,100")
              
            
            +image('content/Budda-layer-1.png', 'budda__fon')
            .container.container__aboutme
              .aboutme__content
                #reviews-components
                

            .form
              .form__title Связаться со мной
              form(action="" method="POST")
                .form__inputs
                  .form__input
                    p.form__text Введите ваше имя
                    +icon('user', "iconed__user")
                    input.input__back(type="text" name="name" placeholder="").input__elem
                    .form__line
                    
                  .form__input
                    p.form__text Введите ваш e-mail
                    +icon('envelope', "iconed__mail")
                    input.input__back(type="text" name="mail" placeholder="").input__elem
                    .form__line

                +icon('message', "iconed__mail")
                input.form__input-text(type="text" name="text" placeholder="").input__elem
                .form__line-text

                .form__btn
                  input(type="submit").form__btn-style
            .parallax__about
              .parallax__budda(data-speed="0.5")
                +image('content/Budda-layer-2.png', 'layer__budda')
              .parallax__budda(data-speed="0.4")
                +image('content/Budda-layer-3.png', 'layer__budda')
              .parallax__budda(data-speed="0.3")
                +image('content/Budda-layer-4.png', 'layer__budda')
              .parallax__budda(data-speed="0.2")
                +image('content/Budda-layer-5.png', 'layer__budda')
              .parallax__budda(data-speed="0.1")
                +image('content/Budda-layer-6.png', 'layer__budda')

          footer.footer__container
            .footer__left
            
              .footer-info
                p &#169 2019
              .footer__title
                .footer-info__title-name
                  h1.footer-info__username аркадий 
                  h1.footer-info__username остапенко

                .footer-info__title
                  h3.footer-info__desc Личный сайт 
                  h3.footer-info__desc вэб-разработчика
                
            .footer__right

              .fotter__links 
                      nav.nav
                        - var menu = ['Главная', "Обо мне", "Навыки", "Работы","Отзывы","Связаться"]
                        ul.nav__list
                          each item in menu
                            li.nav__item
                              a(href="").nav__link #{item}
              .footer__nav

                .footer__nav-left
                  .fotter__ps Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
                  .fotter__menu
                    
                    -var icons = ['insta', 'vk', 'github']
                    ul.socials
                      each item, index in icons
                        li.socials__item.social__item-footer(class=`${index === 1 ? 'active' : ''}`)
                          a(href="").socials__link
                            +icon(`${item}`, 'socials__icon')

                .footer__nav-right
                  .footer__text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете.
                  .footer__name Martin Golding
                  
    include ./templates/entry.pug